
<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<p>
  <%= link_to (image_tag @article.image_url, align: 'right') %>
  <%= @article.body %>
  <br>
  <p>Created on: <%= @article.created_at.strftime("%Y-%m-%d")%></p>
  <p>Author: <%= @article.user.email %></p>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <% if @article.user == current_user || current_user.admin == true %>
    <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back', articles_path %>
